.overview-countainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    .overview-countainer-information{
        .overview-buttom-back{
            margin: 2px;
            background-color: rgb(189, 98, 63);
            border-radius: 20px;
            outline: none;
            border: 0;
            font-size: 1.3em;
            color: aliceblue;
        }
        .overview{
            font-family: Arial, Helvetica, sans-serif;
            overflow-x: hidden;
            height: 110px;
            .deleteScroll{
                overflow-y: scroll;
                max-height: 100%;
                width: 100%;
                padding-right: 45px;
            }
        }
        .overview-grid{
            width: 250px;
            margin: 5px 10px 5px 10px ;
            overflow: hidden;
            color: white;
        }
        .overview-block{
            margin: 20px 10px 0px 10px ;
            color: white;
        }
    }
    .overview-video-countainer{
        height: 80px;
        .overwiew-button-video {
            position: relative;
            margin: 0px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline:none;
            width: 45px;
            height: 45px;
            border-radius: 30%;
            background: linear-gradient(rgb(63, 94, 177), #1f0e5e);
            .overwiew-button-triangle {
                border: none;
                display: flex;
                width: 30px;
                height: 30px;
                background: white;
                shape-margin: 20px;
                clip-path: polygon(0 0, 100% 50%, 0 100%);
            }
        }
        .overwiew-button-video.grid{
            top: 20%;
            left: 40%;
        }
        .overwiew-button-video.block{
            top: 20%;
            left: 10%;
        }
    }
    .overview-video-countainer.black{
        background-color: black;
    }
    .overview-countainer-information.sizeblock{
        width: 50%;
        max-height: 400px;
    }
}
.overview-size-mosaic{
    height: 400px;
    width: 250px; 
    justify-content: space-between;
}
.overview-size-block{
    height: 400px;
    width: 100%; 
}
@media screen and (max-width: 1000px){
    .overview-size-mosaic{
        height: 900px;
        width: 100%;
    }
    .overview-countainer {
        .overview-countainer-information{
            .overview{
                height: 500px;
                width: 100%;
                font-size: 30pt;
            }
        }
    }
    .overview-video-countainer.black{
        background-color: black;
        height: 150px;
    }
}