{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
},
  "plugins": [
    "react"
],
  "extends":[
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "browser": true
  },  
  "parser": "babel-eslint",
  "rules": {
    "semi": "error",
    "no-console": "off"
  }
}