.header-style{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font: Times, serif;
    .poster {
        width: 100%;
        height: 90vh;
        position: absolute;
        z-index: 0;
        opacity: 0.5;
    }
    .header-information{
        z-index: 1;
        display: flex;
        flex-direction: column;
        .header-content{
            display: flex;
            justify-content: space-between;
        }
    }
}
