.search-item{
    display: flex;
    margin: 10px;
    background-color: rgba(89, 99, 107, 0.164);
    .search-image{
        width: 100px;
        height: 150px;
        }
    .search-info{
        display: flex;
        flex-direction: column;
        color: aliceblue;
        .search-item-button{
            background-color: transparent;
        }
        .title-search{
            font-size: 15pt;
            color: rgb(178, 217, 248);
            padding-right: 20px;
        }
        .search-text{
            margin: 2px;
        }
        .search-genres{
            font-size: 10pt;
            color:rgb(132, 159, 182);
        }
    }  
}