.view-countainer {
    height: 400px;
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    top: 0px;
    left: 0px;
    .overview-countainer{
        height: 310px;
        .overview{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.8em;
            margin: 0px 10px 0px 10px ;
    }
        h4,p {
            color: white;
        }
    }
    .video-countainer{
        height: 90px;
        background-color: black;
        .overwiew-button-video {
            position: relative;
            margin: 0px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline:none;
            top: 20%;
            left: 40%;
            width: 45px;
            height: 45px;
            border-radius: 30%;
            background: linear-gradient(rgb(63, 94, 177), #1f0e5e);
            .overwiew-button-triangle {
                border: none;
                display: flex;
                width: 30px;
                height: 30px;
                background: white;
                shape-margin: 20px;
                clip-path: polygon(0 0, 100% 50%, 0 100%);
            }
        }
    }
}