.header-name-search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    .header-name{
        color: white;
        margin: 10px;
    }
    .search-block{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .header-search{
            margin: 10px 0 10px 0;
            height: 20px;
            width: 180px;
            background-color: transparent;
            color: white;
        }
        .search-list-block{
            height: 140px;
            width: 500px;
            overflow: scroll;
            overflow-x: hidden; 
        }
    }
}