.header-name-search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .header-name{
        color: white;
        margin: 10px;
    }
    .search-block{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        .header-search{
            margin: 10px 0 10px 0;
            background-color: transparent;
            color: white;
            justify-content: flex-end;
        }
        .search-list{
            height: 140px;
            width: 600px;
            font-size: 0.8em;
            overflow: auto;
        }
    }
}