.header-button-countainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50vw;
    height: 200px;
    .headerbutton-overview{
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        height: 150px;
        width: 450px;
        padding: 10px;
        font-size: 12pt;
        margin-right: 10px;
    }
    .button-countainer-header{
         display: flex;
        .button-header{
            margin: 10px;
            height: 40px; 
            width: 100px;  
            outline:none;
            background-color: transparent;
            text-transform: uppercase;
            color: white;
            border-style: ridge;
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
        }
        .button-header:hover {
            background-color: rgb(65, 106, 230);
            transition: 0.3s;
        }
    }
}