@import "../../scss/fonts.scss";
.header{
    padding: 10px;
    height: 80vmin;
    background: url(./img/BeFunky.jpg) ;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 100% $font-stack;
    color: $primary-color;
}
.top_header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
.info_header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;  
}