.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    .header-error {
        width: 100%;
        height: 55vh;
        background-color: rgb(136, 130, 130)
    }
}