.header-name-search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .header-name{
        color: white;
        margin: 10px;
    }
    .header-search{
        margin: 10px;
        background-color: transparent;
        color: white;
    }
}