.informationitem-countainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
    .informationitem-title-vote {
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
            .informationitem-title {
                margin: 10px 0px 0px 10px;
                width: 7em;
                font-size: 1.1em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .informationitem-title.active{
                color: white;
            }
            .informationitem-vote {
                margin: 10px 10px 0px 0px;
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
                border-radius: 5px;
                height: 1em;
                width: 1.7em;
                text-align: center;
            }
                
        }
    .informationitem-genres {
            width: 17em;
            margin: 0px 0px 10px 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(96, 116, 228)
    }
}.informationitem-countainer:focus {
    outline: none;
  }