.film-list-li{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px 0 5px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    list-style-type: none; 
} 
.mosaic{
    
    width: 250px;
}
.block{
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}